/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/09/2017, 08:28:16
    Author     : bruno
*/
body{
    background-image: url("fate.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 100% 130%;

}

#botão{
    text-align: center;
    width: 60px;
}
